<nav class="navbar navbar-expand-lg navbar-light bg-light static-top mb-5 shadow">
    <div class="container">
        <a class="navbar-brand" href="#">Alquiler de Libros</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <div class="dropdown">
                        <!--<a class="btn btn-secondary dropdown-toggle"-->
                        <a class="btn btn-secondary" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Autores
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="/libro/crear_autor">Agregar Autor</a>
                            <a class="dropdown-item" href="/libro/listar_autores">Lista de Autores</a>
                        </div>
                    </div>
                    <!--<a class="nav-link" href="#">Autores
                        <span class="sr-only">(current)</span>
                    </a>-->
                </li>
                <li class="nav-item">
                    <!--<a class="nav-link" href="#">Editorial</a>-->
                    <div class="dropdown">
                        <!--<a class="btn btn-secondary dropdown-toggle"-->
                        <a class="btn btn-secondary" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Libros
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="/libro/libro_crear">Agregar Libro</a>
                            <a class="dropdown-item" href="/libro/libro_listar">Lista de Libros</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <!--<a class="nav-link" href="#">Editorial</a>-->
                    <div class="dropdown">
                        <!--<a class="btn btn-secondary dropdown-toggle"-->
                        <a class="btn btn-secondary" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Editorial
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="/libro/editorial_crear">Agregar Editorial</a>
                            <a class="dropdown-item" href="/libro/editorial_listar">Lista de Editoriales</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <!--<a class="nav-link" href="#">Contact</a>-->
                    <div class="dropdown">
                        <!--<a class="btn btn-secondary dropdown-toggle"-->
                        <a class="btn btn-secondary" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Cliente
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="/libro/cliente_crear">Registrar Cliente</a>
                            <a class="dropdown-item" href="/libro/cliente_listar">Lista de Cliente</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <!--<a class="nav-link" href="#">Contact</a>-->
                    <div class="dropdown">
                        <!--<a class="btn btn-secondary dropdown-toggle"-->
                        <a class="btn btn-secondary" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            Alquiler
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="/libro/alquiler_crear">Registro de Alquilar</a>
                            <a class="dropdown-item" href="/libro/alquiler_listar">Lista de Alquileres</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>