{% extends 'base.html' %}

{% block title %}
    Listar Libros
{% endblock %}

{% block content %}
    <table class="table">
        <h1 style="text-align: center;">Lista de Libros</h1>
        <thead>
        <tr>
            <th scope="col">Titulo</th>
            <th scope="col">Autor</th>
            <th scope="col">Publicacion</th>
            <th scope="col">Imagen</th>
            <th scope="col">Estado</th>
        </tr>
        </thead>
        <tbody>
            {% for libro in libros %}
                <tr>
                    <td>{{ libro.titulo }}</td>
                    <td>{{ libro.autor_id.all.0.nombre }}</td>
                    <td>{{ libro.fecha_publicacion }}</td>
                    <td>
                        <img src="http://127.0.0.1:8000/media/{{ libro.image }}" width=50px height=50px/>
                    </td>
                    <td>
                        <a class="btn btn-primary" href="/libro/libro_editar/{{ libro.id }}">Actualizar</a> <!--/libro/editar_autor/{{ autor.id }}-->
                        <a class="btn btn-danger" href="/libro/libro_eliminar/{{ libro.id }}">Eliminar</a> <!--/libro/eliminar_autor/{{ autor.id }}-->
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a class="btn btn-secondary" href="/">Inicio</a>
{% endblock %}